
body{
	background-image:url(img27.jpg);
	-webkit-background-size:cover;
	font-family:arial;
	margin:0;
	padding:0;

}
.dropdwn{
	margin:0 auto;

}
nav{
	height:100px;
	background:#2c3e50;
	opacity:0.6;
	box-shadow:0 10px 15px rgba(0,0,0,0.1);
}
.logo{
	padding:5px 0 0 80px;
	width:130px;
	height:auto;
	transform:translate(-60px,0px)
}
nav ul{

	margin:0;
	float:right;
	margin-right:30px
}
nav ul li{
	background:#2c3e50;
	
	
	display:inline-block;
}
nav ul li a{
	display:block;
	padding:0 15px;
	color:white;
	text-decoration:none;
	line-height:60px;
	font-size:20px;
	margin-top:20px;
}
.select{
	padding:12px 57px;
        color: white;
	font-size:20px;
        background-color:#2c3e50;
	opacity:0.6;
        border:7px solid #bbbbbbbbb;
        
        border-radius:7px;
        position:relative;
        transform:translate(0%,50%);
	margin-top:90px;


}

.search-box{
	position:absolute;
	top:45%;
	left:55%;
	transform:translate(-50%, -50%);
	background:#2f3640;
	opacity:0.6;
	height:40px;
	border-radius:40px;
	padding:10px;
}

.search-box:hover> .search-txt{
			width:300px;
			padding:0 6px;
			
}


.search-txt{
		border:none;
		background:none;
		outline:none;
		float:left;
		padding:0;
		color:white;
		font-size:20px;
		transition:0.4s;
		line-height:40px;
		width:10px;
}

#container{
	width:1280px;
	height:135vh;
	margin:auto;
	border-radius:10px;
	
	
}
#slidebar{
	width:5120px;
	position:relative;
	animation:animate 20s none infinite;
}
	
/* 20s-> 100% */
/* 1s-> 5% */
/* 4s-> 20% */
@keyframes animate{

	/* 1s-> 5% */

	0%{
	  	left: 0px;
	  }

	/* 4s-> 20% */

       20%{
		left: 0px;
	  }

	/* 1s-> 5% */

       25%{
		left: -1280px;
	  }

	/* 4s-> 20% */

       45%{
		left: -1280px;
	  }

	/* 1s-> 5% */

       50%{
		left: -2560px;
	   }

	/* 4s-> 20% */

       70%{
		left: -2560px;
	   }

	/* 1s-> 5% */

       75%{
		left: -3840px;
	   }
	
	/* 4s-> 20% */

       95%{
		left: -3840px;
	   }

	/* 1s-> 5% */
      100%{
		left: -5120px;
	   }
}

#slidebar img{
	float:left;
	margin-top:170px;
}

.glass{
	width:160px;
	float:left;
	margin-right:50px;
	margin-left:50px;
	padding:20px;
	
}



.show-btn{
	 font-size:50;
	color:white;
	margin-top:50px;
	padding: 12px 87px;
	margin-left:350px;
	
	
}

















